.floating-box {
    display: inline-table !important;
    width: 150px !important;
    height: 75px !important;
    margin: 10px !important;
    border: 3px solid rgba(255, 153, 0, 0.849) !important; 
    text-align: center !important; 
}
.align-box {
    text-align: center !important;
    display: grid !important;
}