.login-bg {
    background-color: white;
    text-decoration-color: orange !important;
    color: orange;
}
.login-text {
    color: orange;
    text-align: center;
}
.login-button {
    background-color: rgb(255, 153, 0);
    border-color: rgb(255, 164, 27);
}
