.myprofile-profilephotostext {
    padding-right: 100%;
    font-size: medium !important;
    font-weight: normal !important;
}
.myprofile-photos {
    height: 60px !important;
    width: 60px !important;
}
.label-infors {
    color: orange !important;
}