.page-home {
    background: url('/assets/images/HieuBackground.jpg');
    background-size: 100% 100%;
}
a{
    color: #ffffff;
    font-weight: 900;
    cursor: pointer;
}
.footer {
    position: fixed;
    height: 5%;
    bottom: 2%;
    width: 90%;
}
.signin-btn{
    bottom: 10%;
    position: fixed;
    border-radius: 25px;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 7%;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F46F3F;
}

.home-text{
    color: white;
}